table{
  border-collapse: collapse;
  font-size: 12pt;
  font-family: 'arial';
  width: 90%;
}
table th{
  text-align: left;
  padding: 10px;
  background: #3d7ba8;
  color: #fff;
}
table tr:nth-child(odd){
  background: #a0b6ff;
}
table td{
  padding: 10px;
}
